h1 #{name}
div(class='flex-column')
  div(class='flex-row')
    div(class='flex-center-column')
      div(class='text-huge' title=str_title) #{str_name}
      div(class='statblock-attr-value') #{str}
      div #{str_bonus}
    div(class='flex-center-column')
      div(class='text-huge' title=dex_title) #{dex_name}
      div(class='statblock-attr-value') #{dex}
      div #{dex_bonus}
    div(class='flex-center-column')
      div(class='text-huge' title=con_title) #{con_name}
      div(class='statblock-attr-value') #{con}
      div #{con_bonus}
    div(class='flex-center-column')
      div(class='text-huge' title=int_title) #{int_name}
      div(class='statblock-attr-value') #{int}
      div #{int_bonus}
    div(class='flex-center-column')
      div(class='text-huge' title=wis_title) #{wis_name}
      div(class='statblock-attr-value') #{wis}
      div #{wis_bonus}      
    div(class='flex-center-column')
      div(class='text-huge' title=cha_title) #{cha_name}
      div(class='statblock-attr-value') #{cha}
      div #{cha_bonus}